<div class="flex h-screen justify-center">
  <form
    (ngSubmit)="submit()"
    action=""
    class="p-4 rounded-lg border m-auto w-1.5/3"
    #myForm="ngForm"
  >
    <div class="my-5 w-full">
      <h1 class="text-center text-2xl py-8">Login</h1>
      <label for="email">Email :</label>
      <input
        name="email"
        type="email"
        id="email"
        class="p-2 rounded w-full bg-gray-300 border"
        placeholder="Email Address "
        [(ngModel)]="form.email"
      />
    </div>

    <div class="my-5 w-full">
      <label for="password">Password :</label>
      <input
        name="password"
        type="password"
        id="password"
        class="p-2 rounded w-full bg-gray-300 border"
        placeholder="Password"
        [(ngModel)]="form.password"
      />
    </div>
    <div class="my-5">
      <button
        [disabled]="myForm.form.invalid"
        type="submit"
        class="w-full bg-purple-800 text-white hover:bg-purple-500 rounded p-2"
      >
        <ng-container *ngIf="isLoading">Loading ...</ng-container>
        <ng-container *ngIf="!isLoading">Submit</ng-container>
      </button>
    </div>
  </form>
</div>
