<div class="flex h-screen justify-center">
  <form action="" class="p-4 rounded-lg border m-auto w-1.5/3">
    <div class="my-5 w-full">
      <h1 class="text-center text-2xl py-8">Login</h1>
      <label for="email">Email :</label>
      <input
        type="email"
        id="email"
        class="p-2 rounded w-full bg-gray-300 border"
        placeholder="Email Address"
      />
    </div>
    <div class="my-5 w-full">
      <label for="password">Password :</label>
      <input
        type="password"
        id="password"
        class="p-2 rounded w-full bg-gray-300 border"
        placeholder="Password"
      />
    </div>
    <div class="my-5 w-full">
      <label for="password2">Confirm Password :</label>
      <input
        type="password2"
        id="password2"
        class="p-2 rounded w-full bg-gray-300 border"
        placeholder="Confirm Password"
      />
    </div>
    <div class="my-5">
      <input
        type="submit"
        class="w-full bg-yellow-700 text-white hover:bg-purple-300 rounded p-2"
      />
    </div>
  </form>
</div>
